div#close-menu.close-overlay x
div.menu-links
	a.menu-link(href=menuLinks.libraries) Libraries
	if (menuLinks.libraryLinks)
		a.menu-link(href=menuLinks.libraryLinks.artists) Artists
		a.menu-link(href=menuLinks.libraryLinks.albums) Albums
		a.menu-link(href=menuLinks.libraryLinks.songs) Songs
	a.menu-link(href=menuLinks.settings) Settings
